<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style/style.css">
  <title>Doumbouyah Dev Site</title>
</head>
<body>
  <h1>Doumbouyah Dev Career</h1>
  <img src="https://c1527dd9-9d82-4bae-a1d8-57b1d2e339b2-00-1z85emq2au3k9.kirk.replit.dev/static/careerImg.jpg" alt="careerImg" width="90%" height="300"">
  <h2>About Us</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis enim aspernatur reprehenderit dicta nulla dolor dolorem neque soluta, ipsum possimus ducimus nostrum tempora nam ad corporis unde, placeat iste sed.
  Illum ducimus laboriosam sapiente fugit, aliquid provident, soluta cum ipsum porro quidem adipisci incidunt, perferendis consectetur voluptatibus molestiae neque! Consequatur eveniet suscipit debitis voluptatibus voluptas adipisci nihil quos facilis labore.
  Porro aliquam modi, similique a corporis fugiat distinctio minima! Repellat doloremque doloribus modi eius architecto. Repudiandae, minima dolore, reiciendis saepe numquam eaque pariatur nesciunt soluta quasi enim at temporibus sapiente.</p>
  <h2>Open Position</h2>
  <p>TODO - Show the jobs here</p>
  <button>Contact Us</button>
</body>
</html>